<md-card class="show-card">
  <md-card-header>
    <md-card-title class="title">{{show.name}} ({{show.likes}})</md-card-title>
    <md-card-subtitle>{{show.rating.average}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{show.image.medium}}">
  <md-card-content>
    <p>
      {{show.content}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button class="like" (click)="doLike()">LIKE</button>
    <button md-button class="share">SHARE</button>
  </md-card-actions>
</md-card>