<p><a [routerLink]="['/login']">Logout</a></p>

<md-toolbar color="primary">
  <span>Shows</span>
  <span class="example-spacer"></span>
</md-toolbar>
<md-input-container flex>
  <label>&nbsp;</label>
  <input mdInput [(ngModel)]="search" placeholder="enter search">
</md-input-container>
<button md-button aria-label="Search" (click)="showSearch = !showSearch">
  <md-icon>search</md-icon>
</button>
<md-tab-group>
  <md-tab label="Shows">
    <div *ngFor="let show of shows | async">
      <app-show [show]='show'></app-show>
    </div>
  </md-tab>
  <md-tab label="Favorites">
    <div *ngFor="let favorite of favorites | async">
      {{favorite.name}}
    </div></md-tab>
</md-tab-group>